/** 
 * Archivo de estilo principal en scss (sass)
 **/


/*
 * Sección de mixin's
 */
@import 'mixins_partial';

/** 
 * Definimos las variables que usarémos en la hoja de estilo
 **/
$grayColor : #2d2727;
$whiteColor: #FFFFFF;
$softGray: #ebebeb;
$verySoftGray: #f4f4f4;
$pageFont: "Helvetica";
$redMarvelColor: #ec1d23;
$darkGray: #999091;
$leftArrowIconUrl : '../static/icons/btn_arrow_left.png';
$rightArrowIconUrl : '../static/icons/btn_arrow_right.png';
$closeButtonIconUrl : '../static/icons/btn-close.png';
$marvelIncredibleHeight : 324px;
$purchaseButtonColor: #dcdcdc;
$addToFavoritesButtonColor: #f0f0f0;

/** SECCIÓN DE BARRA DE BÚSQUEDA **/

.searchbar {
	height: 80px;
	background: $grayColor;
}

.searchbar_marvellogo {
	position: relative;
	width: 140px;
	height: 60px;
	top: 10px;
}

.searchbar_inputcontainer {
	margin: auto;
	width: 100%;
	padding: 20px;
}
 
.searchbar_inputcontainer_input {
	position: relative;
	float: left;
	width: 80%;
	height: 40px;
}

.searchbar_inputcontainer_searchicon {
	position: relative;
	background: $whiteColor; 
	left: -40px;
	top: 1px;
	height: 36px;
	width: 36px;
	border-radius: 5px;
}

/** SECCIÓN DE PIE DE PÁGINA **/

.footer_container {
	/*position: absolute;*/
	bottom: 0px;
	width: 100%;
	height: 60px;
	background : $grayColor;
	margin-top: 90px;
	padding: 0px;
} 

.footer_container_rightstext {
	color: $whiteColor;
	margin-top: 20px;
	font-family: $pageFont;
	font-size: 12px;
}

.footer_container_enterpriselogo {
	width: 40px;
	margin: auto;
	display: block;	
	position: relative;
	top: 10px;
}

/** SECCIÓN DE COMICS **/

.comicsection {
	background: $verySoftGray;
}

.comicsection_characterslogo {
	@extend .floatleft;
	padding: 10px;
}

.comicsection_characterstitle {	
	@extend .titleText;	
}

.comicsection_sortbycontrol {
	position: relative;
	margin-top: 10px;	
	height: 45px;
}

/** SECCIÓN DE CHARACTERS **/

.comicsection_charactercover_container {
	min-height: 420px;
	position: relative;
	background: none;
	overflow-y: auto;
}

.comicsection_charactercover_falsecontainer {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 5%;
	background: $whiteColor;
}

.comicsection_charactercover_thumbnail {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	box-shadow: 3px 3px 10px 2px $darkGray;
}

.comicsection_charactercover_charactername {
	@extend .block;
	@extend .floatnone;	
	@extend .characterName;	
}

.comicsection_charactercover_croppeddesc {
	@extend .characterDesc;
}

.comicsection_charactercover_viewmorebutton {
	width: 50%;
	margin: auto;
	text-align: center;
	color: $whiteColor;
	background: $redMarvelColor; 
	padding: 5px;
	font-family: $pageFont;
	font-weight: bold;
	font-size: 12px;
	@extend .cursorpointer;
	@include transition(0.2s);
}

.comicsection_charactercover_viewmorebutton:hover {
	width: 60%;
	color: $redMarvelColor;
	background: $whiteColor;
	border: 2px double $redMarvelColor;
}

.comicsection_charactercover_relatedcomicstitle {
	@extend .characterName;
	color: $darkGray;
	margin: 5px;
}

.comicsection_charactercover_relatedcomicname {
	min-height: 50px;	
	color: $darkGray;	
	font-size: 11px;
	font-family: $pageFont;
}

.comicsection_searching_container {
	margin: 15px;
	text-align: center;
	@extend .characterName;
}

.comicsection_searching_container_icon {
	@include animationinfinite(rotateInfinite, 1s);
}

/** SECCIÓN DE PAGINACIÓN **/

.comicsection_pageselector_item {
	width: 50px;
	height: 40px;
	border: 1px solid $softGray;
	text-align: center;
	background: $whiteColor;
	margin: 5px;
	box-shadow: 2px 2px 2px -1px $darkGray;
	font-weight: bolder;	
	line-height: 40px;
	@extend .floatleft;	
	@extend .cursorpointer;	
}

.comicsection_pageselector_item-selected {
	@extend .comicsection_pageselector_item;
	background: $softGray;
}

.comicsection_pageselector_item-back {	
	background: url($leftArrowIconUrl);
	background-repeat: no-repeat;
	background-position: center;	
	background-size: center;
	@extend .comicsection_pageselector_item;
}

.comicsection_pageselector_item-forward {	
	background: url($rightArrowIconUrl);
	background-repeat: no-repeat;
	background-position: center;
	@extend .comicsection_pageselector_item;
}

/** SECCIÓN DEL POPUP DE LOS CHARACTERS **/

.popupcontrol_characterdetail_container {	
	@extend .popupcontrol;
	height: 500px;
}

.popupcontrol_characterdetail_container_closebutton {
	@extend .popupclosebutton;
}

.popupcontrol_comicdetail_container_closebutton {
	@extend .popupclosebutton;	
}

.popupcontrol_characterdetail_container_characterinfo {	
}

.popupcontrol_characterdetail_container_characterimage {	
	
}

.popupcontrol_characterdetail_container_charactername {
	@extend .characterName;
}

.popupcontrol_characterdetail_container_characterdesc {
	@extend .characterDesc;
	height: $marvelIncredibleHeight - 20;
	overflow-y : auto;
}

.popupcontrol_characterdetail_container_comics {	
	overflow-y : auto;
	height: 80px;
}

.popupcontrol_characterdetail_container_comicstitle {
	margin: 5px;
	font-weight: bolder;
	font-family: $pageFont;
	font-size: 18px;
}

.popupcontrol_characterdetail_container_comic {
	@extend .floatleft;
	@extend .cursorpointer;
	padding: 5px;
	margin: 2px;
	color: $darkGray;	
	@include transition(0.2s);
}

.popupcontrol_characterdetail_container_comic:hover {
	color: $whiteColor;
	background: $redMarvelColor;
}

/** SECCIÓN DEL POPUP DE LOS COMICS **/

.popupcontrol_comicdetail_container {	
	@extend .popupcontrol;	
	height: 450px;
}

.popupcontrol_comicdetail_container_comicimage {
	
}

.popupcontrol_comicdetail_container_comicinfo {
	
}

.popupcontrol_comicdetail_container_comictitle {
	@extend .characterName;
}

.popupcontrol_comicdetail_container_comicdesc {
	@extend .characterDesc;
	height: $marvelIncredibleHeight - 20;
	overflow-y : auto;
}

.popupcontrol_comicdetail_container_footerbuttons {
	padding: 0px;
}

.popupcontrol_comicdetail_container_favoritesbutton {
	background: $addToFavoritesButtonColor;
	height: 80px;
	text-align: center;
	line-height: 80px;	
	font-weight: bolder;
	font-size: 16px;
	@extend .cursorpointer;	
}

.popupcontrol_comicdetail_container_favoritesbutton-added {
	@extend .popupcontrol_comicdetail_container_favoritesbutton;
	background: $grayColor;
	color: $redMarvelColor;
	cursor: default;
}

.popupcontrol_comicdetail_container_purchasebutton {
	background: $purchaseButtonColor;
	color: $redMarvelColor;
	height: 80px;
	text-align: center;	
	line-height: 80px;
	font-weight: bolder;
	font-size: 16px;
	@extend .cursorpointer;
}


/** SECCIÓN DE FAVORITOS **/

.favouritessection {
	background: $softGray;
}

.favouritessection_myfavouritestitle {
	@extend .titleText;
}

.favouritessection_favoritecontainer {	
	width: 220px;
	margin: 10px 0px 5px 5px;
	box-shadow: 1px 1px 15px 2px $darkGray;
	@extend .cursorpointer;
}

.favouritessection_favoritecontainer_comicimagecontainer {

}

.favouritessection_favoritecontainer_deletebutton {
	width: 25px;
	height: 25px;
	position: absolute;
	top: -10px;
	right: -10px;
	@extend .cursorpointer;
}

.favouritessection_favoritecontainer_comictitle {
	font-weight: bolder;
	font-family: $pageFont;
	font-size: 18px;
}

.favouritessection_favoritecontainer_comicimage {
	width: 100%;
}

.favouritessection_choosethreeformetitle {
	text-align: center;
	font-weight: bolder;
	@extend .cursorpointer;
}

/*
 * Clases de utilidad para evitar estilos in-line 
 * Deben usarse para heredarse, en caso de ser un componente
 * boostrap usar directamente en el atributo class
 */

.cursorpointer {
	cursor: pointer;
}

.posabsolute {
	position: absolute;
}

.block {
	display: block;	
}

.padding0 {
	padding: 0px;
}

.floatleft {
	float: left; 
}

.floatnone {
	float: none; 	
}

.titleText {
	position: relative;
	top: 20px;
	@extend .floatleft;
	font-weight: bolder;
	font-family: $pageFont;
	font-size: 18px;
}

.characterName {
	font-weight: bolder;
	font-family: $pageFont;
	font-size: 18px;	
}

.characterDesc {
	@extend .block;	
	@extend .floatnone; 
	margin-bottom: 10px;	
	text-align: justify;
	color: $darkGray;
	font-size: 13px;
	min-height: 180px;
}

.popupcontrol {
	position: fixed;
	width: 700px;	
	background: $whiteColor;
	z-index: 99;
	box-shadow: 1px 1px 15px 2px $darkGray;
	display: none;
}

.popupclosebutton {
	position: relative;
	width: 30px;
	height: 30px;
	background: url($closeButtonIconUrl);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	@extend .floatleft;
	@extend .cursorpointer;
	top: 5px;
}


a:link {
    color: $redMarvelColor;
    text-decoration: none;
}

a:visited {
    color: $redMarvelColor;
    text-decoration: none;
}

a:hover {
    color: $redMarvelColor;
    text-decoration: none;
}

a:active {
    color: $redMarvelColor;
    text-decoration: none;
}

@include keyframe(rotateInfinite) {
	 from { @include transform(rotate(0deg)) }
	 to { @include transform(rotate(360deg)) }
} 