 @mixin transition($seg) {
 	-webkit-transition : $seg all;
 	-moz-transition : $seg all;
 	-o-transition : $seg all;
 	transition : $seg all;
 }

 @mixin transform($transform) {
 	-webkit-transform : $transform;
 	-moz-transform : $transform;
 	-o-transform : $transform;
 	transform : $transform;
 }

 @mixin animationinfinite($animname, $seg) {
  	-webkit-animation : $animname $seg linear infinite;
 	-moz-animation : $animname $seg linear infinite;
 	-o-animation : $animname $seg linear infinite;
 	animation : $animname $seg linear infinite;
 }

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}