<!-- Cabecera de la página-->
 <div class="container-fluid">
	<div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 padding0">
			<div class = "searchbar">
				<div class = "hidden-xs hidden-sm col-md-2 col-lg-2">
					<img class = "searchbar_marvellogo" src = "static/brand/marvel_logo.png">
				</div>
				<div class = "col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div searchbar></div>
				</div>
				<div class = "hidden-xs hidden-sm col-md-2 col-lg-2">
					<!--void!-->
				</div>
			</div>
		</div>	
	</div>
</div>


<div class="container-fluid">
<!-- Cuerpo de la página-->
	<div class = "row">

		<!-- Sección de comics -->
		<div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9 comicsection">
			<div ng-hide = "searchbarErrorMsg.length == 0" class ="alert alert-danger">{{ searchbarErrorMsg }}</div>
			<div ng-hide = "!searching" class = "comicsection_searching_container">
			 	<span class = "glyphicon glyphicon-refresh comicsection_searching_container_icon"></span> Searching now ...
			 </div>
			<!--Sección con el control de ordenamiento-->
			<div class = "row">
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<img class = "comicsection_characterslogo" src = "static/icons/characters.png">
						<span class = "hidden-xs hidden-sm comicsection_characterstitle">Characters</span>
					</div>
					
					<div class = "col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>

					<!--Selector del ordenamiento-->
					<div class = "col-xs-3 col-sm-3 col-md-3 col-lg-3">						
						<div sortbycontrol characterfilters = "orderByFilters"></div>							
					</div>
				</div>
			</div>

			<!--Sección con los personajes y el paginado-->
			<div class = "row" ng-hide = "searching">
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
					<!-- Personajes -->
					<div class = "row">
						<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div charactercover ng-repeat = "character in pageResults track by character.id" character = "character"></div>
						</div>
					</div>

					<!-- Paginado -->
					<div class = "row">
						<div class = "col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
						<div class = "col-xs-8 col-sm-8 col-md-8 col-lg-8">
							
							<div ng-click = "changePage('back')" ng-show = "numPages.length > 1" class = "comicsection_pageselector_item-back"></div>

							<div ng-class = "{'comicsection_pageselector_item': page != currentPage, 'comicsection_pageselector_item-selected': page == currentPage}" ng-repeat = "page in numPages" ng-click = "changePage(page)">{{ page }}</div>

							<div ng-click = "changePage('forward')" ng-show = "numPages.length > 1" class = "comicsection_pageselector_item-forward"></div>
						</div>
						<div class = "col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					</div>
				</div>
			</div>		
		</div>	

		<!-- Sección de favoritos -->
		<div class = "col-xs-12 col-sm-12 col-md-3 col-lg-3 favouritessection">
			<div class = "row">				
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<img class = "comicsection_characterslogo" src = "static/icons/btn-favourites-primary.png">
					<span class = "favouritessection_myfavouritestitle">My favorites</span>					
				</div>
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div ng-click = "selectRandomComics()" class = "favouritessection_choosethreeformetitle">Choose 3 for me!</div>
				</div>
			</div>

			<div class = "row">				
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div favouritecomic ng-repeat = "fav in favourites track by fav.id" fav = "fav"></div>
				</div>
			</div>
		</div>

		<!-- Sección de pop-ups para mostrar el detalle de los personajes y los comics -->
		<!-- Popup del detalle de personaje -->
		<div id = "characterdetailpopup" characterdetail character = "currentCharacter"></div>

		<!-- Popup del detalle de personaje -->
		<div id = "comicdetailpopup" comicdetail comic = "currentComic"></div>
	</div>
</div>


<!-- Pie de página -->
<footer class = "footer_container">
	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class = "footer_container_rightstext"> De anzapemo para Grability - 2017 </div>
	</div>
	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<img class = "footer_container_enterpriselogo" src="static/brand/grability-logo.png"/>
	</div>
</footer>