<!-- Template para el detalle de un caracter, aquí se incluye la lista de comics seleccionables -->


<div class = "container popupcontrol_characterdetail_container">
	
	<div class = "row">
		<!-- Close button -->
		<div class ="col-xs-11 col-sm-11 col-md-11 col-lg-11"></div>	
		<div class ="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<div ng-click = "$parent.hideCharacterDetailPopup()" class = "popupcontrol_comicdetail_container_closebutton"></div>
		</div>
	</div>

	<div class = "row">
		<!-- imagen del character -->
		<div class ="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<img class = "popupcontrol_characterdetail_container_characterimage" ng-src="{{character.thumbnail.path}}/portrait_incredible.{{character.thumbnail.extension}}">			
		</div>	

		<!-- información del character -->		
		<div class ="col-xs-8 col-sm-8 col-md-8 col-lg-8 popupcontrol_characterdetail_container_characterinfo">
			<div class = "popupcontrol_characterdetail_container_charactername">
				{{ character.name }}
			</div>
			<div class = "popupcontrol_characterdetail_container_characterdesc">
				{{ character.description }}
			</div>
		</div>			
	</div>	

	<div class = "row">
		<div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class = "popupcontrol_characterdetail_container_comicstitle">Comics</div>
		</div>
		<!-- comics del character -->				
		<div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12 popupcontrol_characterdetail_container_comics">
			<div class = "popupcontrol_characterdetail_container_comic" ng-repeat = "comic in character.comics.items" ng-click = "$parent.$parent.showComicDetail(comic)">
				{{ comic.name }}
			</div>
		</div>			
	</div>
</div>