<!-- Template para el preview de un character -->


<div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 comicsection_charactercover_container">
	<div class = "comicsection_charactercover_falsecontainer"></div>
	<div class = "row">
		<!--Imagen miniatura del personaje -->
		<div class ="col-xs-3 col-sm-3 col-md-6 col-lg-6">
			<img ng-src="{{character.thumbnail.path}}/standard_fantastic.{{character.thumbnail.extension}}" class = "img-rounded comicsection_charactercover_thumbnail">
		</div>

		<div class ="col-xs-9 col-sm-9 col-md-6 col-lg-6">
			<!--Nombre del personaje -->
			<div class = "comicsection_charactercover_charactername">
				{{ character.name }}
			</div>

			<!--Descripción del personaje -->
			<div class = "comicsection_charactercover_croppeddesc">
				{{ character.description }}
			</div>

			<!--Botón que abrirá el modal del personaje -->
			<div ng-click = "$parent.showCharacterDetail(character)" class = "comicsection_charactercover_viewmorebutton">
				VIEW MORE
			</div>
		</div>
	</div>

	<!-- Lista de comics relacionados -->
	<div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class = "comicsection_charactercover_relatedcomicstitle">Related comics</div>
		</div>

		<!--Comics relacionados -->
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div ng-repeat = "comic in character.comics.items" class = "col-xs-6 col-sm-6 col-md-6 col-lg-6 comicsection_charactercover_relatedcomicname">
				{{ comic.name }}
			</div>
		</div>
	</div>
</div>