<!-- Template para un comic guardado en favoritos -->
<div class = "row">
	<div ng-click = "$parent.$parent.showComicDetail(fav)" class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 favouritessection_favoritecontainer">	
		<div class = "row">
			<div class = "favouritessection_favoritecontainer_comicimagecontainer">
				<img ng-click = "$parent.$parent.removeFromFavourites(fav)" src="static/icons/btn-delete.png" class = "favouritessection_favoritecontainer_deletebutton">			
				<img class = "favouritessection_favoritecontainer_comicimage" ng-src="{{fav.thumbnail.path}}/portrait_incredible.{{fav.thumbnail.extension}}">
			</div>		
		</div>

		<div class = "row">
			<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 favouritessection_favoritecontainer_comictitle">
				{{ fav.title }}
			</div>		
		</div>
	</div>
</div>