<!--Template para el control de ordenamiento -->
<select class = "comicsection_sortbycontrol form-control" ng-model = "$parent.selectedFilter" ng-change = "$parent.searchOrdered($parent.selectedFilter)">
	<option selected hidden>Sort by</option>
	<option ng-repeat = "filter in characterfilters" value = "{{filter.value}}">{{filter.name}}</option>
</select>